body {
    font-family: "Open Sans", sans-serif;
}

a:hover, .bi:hover, button:hover, .navbar-toggler:hover {
    color: #6610f2;
}

header {
    border-bottom: 2px solid #6f42c1;
}

p {
    margin: 10px;
}

#dropdownNav {
    position: absolute;
}

.bi, .navbar-toggler {
    color: #6f42c1;
}

.bi-mailbox {
    font-size: 2rem; 
    padding: 0px; 
    margin: 0px;
}

.bi-social-footer {
    font-size: 1.5rem;
    margin: 0px 10px;
}

.btn:focus {
    box-shadow: none;
  }

.btn-primary {
    color: white;
    background-color: #6f42c1;
    border: none;
}

.copyright {
    padding-left: 10px;
}

.logolink {
        font-family: "Days One", sans-serif;
        color: #6f42c1;
        text-decoration: none;
}

.nav-link {
    color: #6f42c1;
}

.nav-link.active {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #6f42c1 !important;
    color: #6f42c1 !important;
}

.nav-link:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #6610f2 !important;
    color: #6610f2 !important;
}

.nav-tabs {
    margin-top: 25px;
    border: none;
}

.tab-content {
    border: none;
    padding: 10px;
}